*.o
*.a
*.dSYM
*.csv
*.out
*.png
*.so
*.exe
*.dll
mnist/
data/
caffe/
grasp/
images/
opencv/
convnet/
decaf/
submission/
cfg/
build/darknet/*
build_*/
!build/darknet/YoloWrapper.cs
!build/darknet/x64/yolov3-tiny.conv.15
!build/darknet/x64/yolov3-tiny.weights
!build/darknet/x64/yolov3-tiny_cones.cfg
!build/darknet/x64/data/cones.data
!build/darknet/x64/data/cones.names
!build/darknet/x64/data/train_cones.txt

.fuse*
*.weights

# OS Generated #
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp

# IDE generated #
.vs/
.vscode/

lib/
include/
share/


!build/darknet/x64/yolov3-tiny.conv.15
!build/darknet/x64/yolov3-tiny.weights
!build/darknet/x64/yolov3-tiny_cones.cfg
!build/darknet/x64/data/cones.data
!build/darknet/x64/data/cones.names
!build/darknet/x64/data/train_cones.txt
